body, html, a, label, input, textarea {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	color: white;
	height: relative;
}

a {
	cursor:pointer;
}

img {
	border:0;
	display: block;
}

h2 {
	width: 30%;
	margin: auto;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 1.4;
	font-weight: 200;
	color: #285d52;
	text-align: center;
	margin-top: 5%;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
     box-sizing: inherit;
}

.main-container {
	display: block;
}

.hidden {
	display: none;
}

.parallax-window {
    background: transparent;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	width: 100%;
}

.iOS-background {
	background: url('succulent.jpg');
}

.parallax-slider {
	position: absolute;
	top: 0;
	left: 0;
}

.parallax-slider img {
	height: 1100px;
	width: 100%;
}

header {
	width: 100%;
	height: 40px;
	background-color: white;
	opacity: .7;
}
@media screen and (max-width: 420px) {
	header {
		height: 50px;
	}
}

#horizontal-list {
	width: 50%;
	margin: auto;
	display: block;
	height: 50px;
}
@media screen and (max-width: 420px) {
	#horizontal-list {
		width: 100%;
	}
}
@media screen and (min-width: 420px) and (max-width: 768px) {
	#horizontal-list {
		width: 70%;
	}
}

.option {
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	width: 25%;
	margin-top: 1.5%;
}
@media screen and (max-width: 420px) {
	.option {
		font-size: 18px;
		margin-top: 3%;
	}
}

#horizontal-list a {
	text-decoration: none;
	color: #285d52;
	text-align: center;
	font-weight: 300;
	transition: all .1s ease-in-out;
}

#horizontal-list a:hover {
	transition: all .1s ease-in-out;
	color: #D3CCD6;
}

.main-description {
	display: block;
	text-align: center;
	font-weight: lighter;
	height: 500px;
	padding-top: 270px;
}
@media screen and (max-width: 420px) {
	.main-description {
		padding-top: 220px;
	}
}
@media screen and (min-width: 420px) and (max-width: 768px) {
	.main-description {
		padding-top: 240px;
	}
}

.main-description h1 {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 0px;
	letter-spacing: 2px;
}
@media screen and (max-width: 420px) {
	.main-description h1 {
		font-size: 30px;
	}
}

.main-description-line {
	display: block;
	margin-top: 0px;
}

.main-description p {
	font-size: 16px;
	letter-spacing: 1px;
}

#my-work-button {
	margin:auto;
	display:block;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	width: 160px;
	transition: all .2s;
}

.main-description a {
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 400;
	transition: all .2s;
}

#my-work-button:hover {
	margin:auto;
	display:block;
	background-color: white;
	color: #285d52;
	transition: all .2s;
}

.bio-container {
	display: block;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0 0 2% 0;
	width: 100%;
	background-color: white;
}

.bio-container img {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 0;
	display: block;
	width: 24%;
	padding: 0;
	height: auto;
	float: left;
}

@media screen and (max-width: 468px) {
	.bio-container img {
		width: 96%;
		margin-right: 2%;
		margin-left: 2%;
	}
}
/*@media screen and (min-width: 420px) and (max-width: 768px) {
	.bio-container img {
		width: 45%;
	}
}*/
@media screen and (min-width: 468px) and (max-width: 1024px) {
	.bio-container img {
		width: 42%;
		margin-right: 2%;
		margin-top: 1.5%;
	}
}


.close {
	width: 100%;
	height: 60px;
	background-color: white;
	opacity: .7;
}

#about-me {
	width: 64%;
	float: right;
	padding: .5% 4% 0 2%;
}
@media screen and (max-width: 468px) {
	#about-me {
		width: 96%;
		padding: .5% 0 0 2%;
	}
}
/*@media screen and (min-width: 420px) and (max-width: 768px) {
	#about-me {
		width: 50%;
		padding: 0;
		padding-right: 2%;
	}
}*/
@media screen and (min-width: 468px) and (max-width: 1024px) {
	#about-me {
		width: 50%;
		padding: 0;
		padding-right: 2%;
	}
}

.description {
	margin: 0;
	font-weight: 300;
	color: #285d52;
	font-size: 1.1rem;
	padding-top: 2.5%;
	text-transform: none;
}
@media screen and (min-width: 468px) and (max-width: 1024px) {
	.description {
		font-size: .95rem;
	}
}

#about-me span {
	color: #285d52;
	float: left;
	width: 100%;
	text-transform: none;
}

#skills-list-2 {
	float: right;
	width: 40%;
	color: #285d52;
	margin-top: 0;
	padding-top: 2%;
	text-transform: none;
	font-weight: 300;
}

#skills-list-1 {
	float: left;
	width: 25%;
	color: #285d52;
	margin-top: 0;
	padding-top: 2%;
	text-transform: none;
	font-weight: 300;
}
@media screen and (min-width: 468px) and (max-width: 1024px) {
	#skills-list-1, #skills-list-2, #about-me span {
		font-size: .95rem;
	}
}

.heading {
	background-color: white;
	opacity: .7;
	width: 100%;
	font-weight: 300;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 10px 0 10px 0;
}

.empty {
	height: 300px;
	width: 100%;
}

/*/*Portfolio Blocks*/

.hovereffect {
  width: 33.333%;
  height: 320px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
@media screen and (max-width: 550px) {
	.hovereffect {
		width: 100%;
		height: 420px;
		margin: 0;
		padding: 0;
	}
}
@media screen and (min-width: 700px) and (max-width: 770px) {
	.hovereffect {
		width: 100%;
		height: 500px;
	}
}


.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 100%;
  height: 320px;
}
@media screen and (max-width: 468px) {
	.hovereffect img {
		width: 100%;
		height: 420px;
		margin: 0;
		padding: 0;
	}
}
@media screen and (min-width: 700px) and (max-width: 770px) {
	.hovereffect img {
		width: 100%;
		height: 500px;
	}
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1.4px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  text-decoration: none;
  width: 100%;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*FORM*/
.contact {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 0;
	background-color: white;
}
@media screen and (max-width: 420px) {
	.contact {
		height: auto;
	}
}

.contact p {
	display: block;
	margin: 0;
	padding: 0;
	color: #285d52;
	font-weight: lighter;
	width: 30%;
	margin-left: 5%;
	padding-top: 5%;
	padding-right: 2%;
}
@media screen and (max-width: 420px) {
	.contact p {
		width: 96%;
		margin: 5% 2% 0 2%;
		text-align: center;
	}
}


#question {
	color: #285d52;
	font-weight: 600;
	margin: 0;
}

/*FORM*/
.help {
	display: inline-block;
	float: left;
}

#contact-form {
    width: 55%;
    padding: 0;
    float: left;
	margin-top: 5%;
}
@media screen and (max-width: 420px) {
	#contact-form {
	margin-left: 5%;
	width: 84%;	
	margin-top: 40px;	
	}
}

#name {
	margin:0;
}

input {
	margin-right: 13px;
    font-weight: 200;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    height: 20px;
    display: block;
    border: solid 1px #8E8E8E;
	color: #285d52;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    -webkit-appearance: none !important
}

textarea {
	margin: 15px 0 0;
	font-size: 16px;
    font-weight: 200;
	color: #285d52;
    padding: 10px;
    width: 100%;
    height: 77px;
    border: solid 1px #8E8E8E;
    -webkit-border-radius: 0px !important;
    -webkit-appearance: none !important;
}


.send-button {
	display:block;
	float: right;
	background-color: #285d52;
	color: white;
	font-size: 14px;
	font-weight: 300;
	width: 220px;
	height: 40px;
	margin: 0;
	margin-right: -22px;
	margin-top: 10px;
	text-align: center;
	cursor:pointer;
}
@media screen and (max-width: 420px) {
	.send-button {
		width: 108.5%;
	}
}

/*Icons*/
.social-icon-active {
	height: 40px;
	width: 40px;
	display: inline-block;
	float: left;
	margin: 20px;
	text-align: center;
}
@media screen and (max-width: 420px) {
	.social-icon-active {
		margin-top: 50px;
	}
}

.social-icons {
	display: block;
	width: 320px;
	margin: auto;
	text-align: center;
}
